<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="logfile"
            xsi:type="File"
            layout="[${longdate}] [${level}] ${callsite} >> ${message} ${exception:format=tostring}"
            fileName="${basedir}/Logs/SmartRetail.log"
            keepFileOpen="false"
            encoding="utf-8"
            archiveFileName="${basedir}/Logs/Archive/SmartRetail.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="365" />
    <target name="logfile_Error"
            xsi:type="File"
            layout="[${longdate}] [${level}] ${callsite} >> ${message} ${exception:format=tostring}"
            fileName="${basedir}/Logs/SmartRetail.Error.log"
            keepFileOpen="false"
            encoding="utf-8"
            archiveFileName="${basedir}/Logs/Archive/SmartRetail.Error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="365" />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="logfile" />
    <logger name="*"
            minlevel="Error"
            writeTo="logfile_Error" />
  </rules>
</nlog>