<div class="container-fluid">
  <div class="row">
    <div class="col-12 header text-center">
      <h1 class="h1"><b>Retail</b>Day</h1>
    </div>
  </div>
  <div class="row content">
    <div class="col-12 d-flex flex-column height-60 justify-content-center ">
      
      
      
      <div  class="text-center modal-box">
        
        <div class="row">
          
          <div class="col-12">
            
            
            <h4 class="h4">Producto no encontrado</h4>
            <img src="./../../../../../assets/images/cancel.svg" alt="Eexito en el registro" width="40%" height="auto"  class="my-3">
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            
            <button class="btn btn-primary btn-rounded" routerLink="/product-scanner">Aceptar</button>
          </div>
        </div>
        
        
        
        
      </div>
      
      
      
    </div>
  </div>
</div>
