<div class="row">
    <div class="col-8 col-md-4">
        <div id="ImageContainer" class="text-center"></div>
    </div>
    <div class="col-4 col-md-2 text-center">
        <button id="Change" type="button" class="btn btn-info disabled" disabled="disabled">Change image</button>
    </div>
</div>