<div class="row">
    <div class="col-12 col-md-7">
        <div id="ImageContainer" class="text-center"></div>
    </div>
    <div class="col-12 col-md-5">
        <div id="Searching" class="d-none">
            <div class="row">
                <div class="col text-center">
                    <p class="text-warning blink_me">[[ Analyzing image, please wait... ]]</p>
                </div>
            </div>
        </div>
        <p id="Message" class="text-danger text-center"></p>
        <div id="InfoContainer" class="d-none">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Confidence</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>