<div class="row">
    <div class="col-12 col-md-7">
        <div id="ImageContainer" class="text-center"></div>
    </div>
    <div class="col-12 col-md-5">
        <div id="Analyzing" class="d-none">
            <div class="row">
                <div class="col text-center">
                    <p class="text-warning blink_me">[[ Analyzing image, please wait... ]]</p>
                </div>
            </div>
        </div>
        <p id="Message" class="text-danger text-center"></p>
        <pre id="InfoContainer" class="image-info d-none"></pre>
    </div>
</div>